* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
header {
    padding-top: 15px;
    height: 60px;
    background-color: #3b5998;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}
h1 {
    display: inline-block;
    vertical-align: middle;
    color: white;
    float: left;
    margin-left: 5%;
}
#myform {
    width: 40%;
    float: left;
    border: none;
    color: white;
    font-size: 14px;
    margin-left: 25%;
}
#myform > .account {
    display: inline-block;
    vertical-align: middle;
    margin-top: -17px;

}
#myform > .passwd {
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
}
.account > label {
    display: block;
}
.passwd > label {
    display: block;
}
.mybtn {
    color: white;
    font-size: 18px;
    font-weight: 300;
    background-color: #3b5998;
    border: 1px solid rgb(127, 127, 221);
}
.wrapper {
    clear: both;
    text-align: center;
    color: white;
    vertical-align: middle;
    display: table-cell;
    width: 60px;
    height: 60px;
}
.forgot {
    color: #cccccc;
    font-size: 14px;
}

main{
    display: flex;
    background-color: #f2f2f2;
    padding-bottom: 200px;
}
.left {
    margin-left: 5%;
    margin-top: 60px;

    flex: 1;
}
h2 {
    width: 70%;
    margin-bottom: 30px;
}
.rtitle {
    font-weight: bold;
    font-size: 32px;
    margin-top: 30px;
}
ul > li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 18px;
    height: 80px;
    line-height: 40px;
}
li img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.right {
    flex: 1;
}
form {
    width: 80%;
    color: #cccccc;
}
.name {
    display: inline-block;
}
input{
    border-radius: 5%;
    font-size: 18px;
    font-weight: 200;
    border: 1px solid #cccccc;
    padding-left: 5px;
}
.name > input {
    width: 40%;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 20px;

}
.info >input {
    display: inline-block;
    width: 66%;
    height: 30px;
    margin-bottom: 20px;
}
.birthday {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.gTitle {
    margin-top: 15px;
    margin-bottom: 10px;
}
.gender {
    color: black;
    display: inline-block;
}
.lines {
    color: lightgray;
}
.sign {
    margin-top: 10px;
    color: white;
    font-size: 1.8rem;
    background-color: #5b9348;
    border-radius: 5%;
    width: 160px;
    height: 60px;
    border: 1px solid black;
    margin-bottom: 20px;
}
.endlines {
    color: gray;
    font-size: 18px;
    font-weight: 400px;
}
footer {
    width: 100%;
    margin-top: 30px;
    margin-left: 5%;
    
}
footer > section {
    display: inline-block;
    height: 30px;
}
footer ul > li {
    float: left;
    text-align: center;
    margin-left: 15px;
}
hr, nav {
    margin-left: 14px;
    width: 80%;
    color: #cccccc;
}
nav > a {
    text-decoration: none;
    color: lightskyblue;
}
